<h1>ToDo List</h1>
<div class="input-field">
    <input type="text" #newTask (keydown.enter)="onTaskAdded(newTask.value);newTask.value=''">
    <button (click)="onTaskAdded(newTask.value);newTask.value=''">Add</button>
</div>
<div class="radio-buttons-field">
    <input type="radio" id="stateAll" name="state" value="all" (change)="onRadioBtnChange('all')">
    <label for="stateAll">all</label>
    <input type="radio" id="stateActive" name="state" value="active" (change)="onRadioBtnChange('active')">
    <label for="stateActive">active</label>
    <input type="radio" id="stateCompleted" name="state" value="completed" (change)="onRadioBtnChange('completed')">
    <label for="stateCompleted">completed</label>
</div>
<div class="input-field">
    <input type="text">
    <button>Search</button>
</div>
<div class="task-container">
    <task
      *ngFor="let task of tasks; let i = index"
      [task]="task"
      (taskDeleted)="onTaskDeleted(i)"
      [class.completed]="task.completed"></task>
</div>
