@import "../../shared/_colors";

.task-container {
  position: relative;
  width: 350px;
  min-height: 45px;
  padding: 13px 35px 10px 10px;
  border: 1px solid $task-border;
  box-shadow: 3px 3px 8px -1px $neutral;
  margin-top: 10px;
  font-size: 16px;

  @media screen and (max-width: 480px) {
    width: 300px;
  }
}

.task-name {
  color: $neutral;
}

.btn-task {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid $neutral;
  outline: none;
}

.btn-task-check {
  position: relative;
  margin-right: 10px;
  border-radius: 50%;

  &:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 2px;
    width: 12px;
    height: 5px;
    border-left: 2px solid $completed;
    border-bottom: 2px solid $completed;
    transform: rotate(-45deg);
    visibility: hidden;
  }
}

.completed {
  .task-name {
    color: $completed;
    text-decoration: line-through;
  }

  .btn-task-check {
    border-color: $completed;
  }

  .btn-task-check:after {
    visibility: visible;
  }

}

.btn-task-delete {
  position: absolute;
  top: 14px;
  right: 10px;
  border-color: $error;
  margin-left: 10px;
  opacity: .3;
  transition: .2s;

  &:before, &:after {
    content: "";
    position: absolute;
    top: -1px;
    left: 6px;
    width: 1px;
    height: 15px;
    background-color: $error;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:hover {
    opacity: 1;
  }
}
